@model Product
<form asp-controller="product" asp-action="edit" method="post" >
    <input asp-for="Id" hidden />
    <div class="border rounded p-3">
        <div class="row pb-2 ">
            <h2>Create</h2>
            <hr />
        </div>
        <div class="pt-3">
            <label asp-for="Title" class="pb-2"></label>
            <input asp-for="Title" class="form-control" />
            <span class="text-danger mt-2"  asp-validation-for="Title"></span>
        </div>
        <div class="pt-3">
            <label asp-for="Author" class="pb-2"></label>
            <input asp-for="Author" class="form-control" />
            <span class="text-danger mt-2" asp-validation-for="Author"></span>

        </div>
        <div class="pt-3">
            <label asp-for="Description" class="pb-2"></label>
            <input asp-for="Description" class="form-control" />
            <span class="text-danger mt-2" asp-validation-for="Description"></span>

        </div>
        <div class="pt-3">
            <label asp-for="ISBN" class="pb-2"></label>
            <input asp-for="ISBN" class="form-control" />
            <span class="text-danger mt-2" asp-validation-for="ISBN"></span>
        </div>
        <div class="pt-3">
            <label asp-for="ListPrice" class="pb-2"></label>
            <input asp-for="ListPrice" class="form-control" />
            <span class="text-danger mt-2" asp-validation-for="ListPrice"></span>

        </div>
        <div class="pt-3">
            <label asp-for="Price" class="pb-2"></label>
            <input asp-for="Price" class="form-control" />
            <span class="text-danger mt-2" asp-validation-for="Price"></span>

        </div>
        <div class="pt-3">
            <label asp-for="Price50" class="pb-2"></label>
            <input asp-for="Price50" class="form-control" />
            <span class="text-danger mt-2" asp-validation-for="Price50"></span>

        </div>
        <div class="pt-3">
            <label asp-for="Price100" class="pb-2"></label>
            <input asp-for="Price100" class="form-control" />
            <span class="text-danger mt-2" asp-validation-for="Price100"></span>

        </div>
        <div class="row pt-3">
            <div class="col-2">
                <button class="btn btn btn-dark form-control">EDIT</button>
            </div>
            <div class="col-2">
                <a class="btn border form-control" asp-controller="product" asp-action="index"> BACK TO LIST</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidatorPartial" />
    }
}