@model ProductVM
<form asp-controller="product" asp-action="upsert" method="post" enctype="multipart/form-data" >
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.image" hidden />
    <div class="border rounded p-3">
        <div class="row pb-2 ">
           
            <h2> @(Model.Product.Id != 0 ? "Update" : "Create")</h2>
            <hr />
        </div>
        <div class="row"> 
            <div class="col-10 border rounded ">
                <div class="pt-3">
                    <label asp-for="Product.Title" class="pb-2"></label>
                    <input asp-for="Product.Title" class="form-control" />
                    <span class="text-danger mt-2" asp-validation-for="Product.Title"></span>
                </div>
                <div class="pt-3">
                    <label asp-for="Product.Author" class="pb-2"></label>
                    <input asp-for="Product.Author" class="form-control" />
                    <span class="text-danger mt-2" asp-validation-for="Product.Author"></span>

                </div>
                <div class="pt-3">
                    <label asp-for="Product.Description" class="pb-2"></label>
                    <input asp-for="Product.Description" class="form-control" />
                    <span class="text-danger mt-2" asp-validation-for="Product.Description"></span>

                </div>
                <div class="pt-3">
                    <label asp-for="Product.ISBN" class="pb-2"></label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span class="text-danger mt-2" asp-validation-for="Product.ISBN"></span>
                </div>
                <div class="pt-3">
                    <label asp-for="Product.ListPrice" class="pb-2"></label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span class="text-danger mt-2" asp-validation-for="Product.ListPrice"></span>

                </div>
                <div class="pt-3">
                    <label asp-for="Product.Price" class="pb-2"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span class="text-danger mt-2" asp-validation-for="Product.Price"></span>

                </div>
                <div class="pt-3">
                    <label asp-for="Product.Price50" class="pb-2"></label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span class="text-danger mt-2" asp-validation-for="Product.Price50"></span>

                </div>
                <div class="pt-3">
                    <label asp-for="Product.Price100" class="pb-2"></label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span class="text-danger mt-2" asp-validation-for="Product.Price100"></span>

                </div>
                <div class="pt-3">
                    <label asp-for="Product.CategoryId" class="pb-2"></label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                        <option disabled selected>--Select Category--</option>
                    </select>
                </div>
                <div class="pt-3">
                    <label asp-for="Product.CategoryId" class="pb-2"></label>
                    <input type="file" name="file" class="form-control" />
                </div>

                <div class="row pt-3 pb-3">
                    <div class="col-2">
                        <button type="submit" class="btn btn btn-dark form-control"> @(Model.Product.Id != 0 ? "Update" : "Create")</button>
                    </div>
                    <div class="col-2">
                        <a class="btn border form-control" asp-controller="product" asp-action="index"> BACK TO LIST</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <img src="@Model.Product.image" width="100%" />
            </div>
        </div>

      
    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidatorPartial" />
    }
}